<div class="section">
    <div class="container">
        <div class="col">
            <h5>HELP & INFORMATION</h5>
            <span>Lorem</span>
            <span>Ipsum</span>
            <span>Sid</span>
        </div>
        <div class="col">
            <h5>ABOUT HoWo</h5>
            <span>Amet</span>
            <span>Lorem</span>
            <span>Ipsum</span>
            <span>Argumentum</span>
        </div>
        <div class="col">
            <h5>MORE FROM HoWo</h5>
            <span>Deserunt</span>
            <span>Ignoratia</span>
            <span>Suum</span>
        </div>
    </div>
</div>

<div class="section bottom">
    <div class="container">
        <div><span>© 2020 HoWo</span></div>
        <div>
            <span>Privacy & Cookies</span>
            <span>Accessibility</span>
        </div>
    </div>
</div>