.section {
    width: 100%;
    background-color: #eee;
    color: #666;
    padding: 32px 0;

    .container {
        max-width: 1366px;
        margin: 0 auto;
        padding: 0 32px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .col {
            width: calc(33% - 15px);
            display: flex;
            flex-flow: column;
            
            h5 {
                padding: 5px 0;
                font-weight: 600;
            }

            span {
                line-height: 30px;
                font-size: .875rem;
                cursor: pointer;
            }
        }
    }

    &.bottom {
        background-color: #ddd;
        padding: 0;

        div {
            span {
                font-size: .750rem;
                line-height: 30px;
                padding: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section {
        &:nth-child(1) {
            display: none;
        }
    }
}