.item {
    width: calc(25% - 9px);
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    // flex-wrap: wrap;
    margin: 10px 0;

    .item-text {
        letter-spacing: .5px;
        margin: 1em 0;

        h2 {
            font-size: 1.125rem;
            height: 2rem;
        }

        .description {
            font-size: 14px;
            height: 5.5rem;
        }

        .price {
            color: rgb(102, 102, 102);
            font-weight: 700;
        }
    }

    .item-img-btn {
        position: relative;
        
        #img {
            width: 100%;
            height: 445px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
        }

        .fav-btn {
            position: absolute;
            display: block;
            bottom: 10px;
            right: 10px;
            background-color: hsla(0,0%,100%,.8);
            border-radius: 50%;
            // border: none;
            height: 36px;
            width: 36px;
            cursor: pointer;
            // outline: none;
            // z-index: 5;

            span {
                position: absolute;
                width: 16px;
                height: 3px;
                left: 10px;
                top: 17px;
                border-radius: 2px;
                background-color: #2d2d2d;

                &#btn-1 {
                    transition: transform .4s, background-color .4s, left .4s, top .4s;
                }

                &#btn-2 {
                    transform: rotate(90deg);
                    transition: transform .4s, background-color .4s, left .4s, top .4s, width .4s;
                }    
            }

            &:hover {
                span {
                    &#btn-1 {
                        top: 16px;
                        left: 14px;
                        transform: rotate(-45deg);
                        background-color: #21d13f;
                        transition: transform .4s, background-color .4s, left .4s, top .4s;
                    }

                    &#btn-2 {
                        width: 9px;
                        top: 18px;
                        left: 10px;
                        transform: rotate(45deg);
                        background-color: #21d13f;
                        transition: transform .4s, background-color .4s, left .4s, top .4s, width .4s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .item {
        width: calc(25% - 9px);

        .item-text{

            h2 {
                font-size: 1.25rem;
                height: 3rem;
            }

            .description {
                height: 6rem;
            }
        }

        .item-img-btn {
            #img {
                height: 335px;
            }
        }
    }
}
   

@media screen and (max-width: 768px) {
    .item {
        width: calc(33% - 9px);

        .item-text{

            h2 {
                font-size: 1.25rem;
                height: 4rem;
            }
        }

        .item-img-btn {
            #img {
                height: 320px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .item {
        width: calc(50% - 9px);
        
        .item-text{

            h2 {
                font-size: 1.25rem;
                height: 4rem;
            }

            .description {
                font-size: 14px;
                height: 8rem;
            }

        }

        .item-img-btn {
            #img {
                height: 220px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .item {
        width: 90%;
        margin: 15px auto;
        
        .item-text {
            margin: 10px 0;

            h2{
                height: fit-content;
                padding: 7px 0;
            }
            .description {
                height: fit-content;
                padding: 7px 0;
            }
        }

        .item-img-btn {
            #img {
                height: 320px;
                overflow: hidden;
            }
        }
    }
}